/* #Variable Definitions
================================================== */
/* Fluid Grid
  $grid-width: 100%;
  $totals-columns: 12;
  $margin: 1%;
*/
/* Mixin Media Queries
================================================== */
/*  @mixin wide-screen {
    @media only screen and (min-width: $wide-screen-width) { @content; }
  }
  @mixin desktop {
    @media only screen and (min-width: $base-width) and (max-width: $wide-screen-widt - 1) { @content; }
  }*/
/* #Clearing
================================================== */
/* Include clearfix on parent to clear nested columns,
or wrap each row of columns in a @include row */
/* You can also use a @include clear to clear columns */
/* Mixin container width
================================================== */
/* line 112, sprite/*.png */
.sprite-sprite {
  background-image: url('../images/sprite-s0bc6438fd2.png');
  background-repeat: no-repeat;
}

/* line 112, sprite2x/*.png */
.sprite2x-sprite {
  background-image: url('../images/sprite2x-s56507c015b.png');
  background-repeat: no-repeat;
}

/* line 9, ../sass/_utilities.scss */
.clearfix {
  zoom: 1;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.clearfix:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.clearfix:before, .clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

/* line 12, ../sass/_utilities.scss */
.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* line 15, ../sass/_utilities.scss */
.pull-right {
  float: right !important;
}

/* line 18, ../sass/_utilities.scss */
.pull-left {
  float: left !important;
}

/* line 27, ../sass/_utilities.scss */
.hide {
  display: none !important;
}

/* line 30, ../sass/_utilities.scss */
.show {
  display: block !important;
}

/* line 33, ../sass/_utilities.scss */
.invisible {
  visibility: hidden;
}

/* line 36, ../sass/_utilities.scss */
.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

/* line 45, ../sass/_utilities.scss */
.hidden {
  display: none !important;
  visibility: hidden !important;
}

/* line 54, ../sass/_utilities.scss */
.affix {
  position: fixed;
}

/* line 9, ../sass/_type.scss */
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  font-family: inherit;
  font-weight: 300;
  line-height: 1.1;
  color: #000;
}
/* line 16, ../sass/_type.scss */
h1 small,
h1 .small, h2 small,
h2 .small, h3 small,
h3 .small, h4 small,
h4 .small, h5 small,
h5 .small, h6 small,
h6 .small,
.h1 small,
.h1 .small, .h2 small,
.h2 .small, .h3 small,
.h3 .small, .h4 small,
.h4 .small, .h5 small,
.h5 .small, .h6 small,
.h6 .small {
  font-weight: normal;
  line-height: 1;
  color: #777777;
}

/* line 24, ../sass/_type.scss */
h1, .h1,
h2, .h2,
h3, .h3 {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 30, ../sass/_type.scss */
h1 small,
h1 .small, .h1 small,
.h1 .small,
h2 small,
h2 .small, .h2 small,
.h2 .small,
h3 small,
h3 .small, .h3 small,
.h3 .small {
  font-size: 65%;
}

/* line 35, ../sass/_type.scss */
h4, .h4,
h5, .h5,
h6, .h6 {
  margin-top: 10px;
  margin-bottom: 10px;
}
/* line 41, ../sass/_type.scss */
h4 small,
h4 .small, .h4 small,
.h4 .small,
h5 small,
h5 .small, .h5 small,
.h5 .small,
h6 small,
h6 .small, .h6 small,
.h6 .small {
  font-size: 75%;
}

/* line 47, ../sass/_type.scss */
h1, .h1 {
  font-size: 52px;
  text-transform: uppercase;
}
@media (max-width: 991px) {
  /* line 47, ../sass/_type.scss */
  h1, .h1 {
    font-size: 36px;
  }
}

/* line 54, ../sass/_type.scss */
h2, .h2 {
  font-size: 36px;
}
@media (max-width: 991px) {
  /* line 54, ../sass/_type.scss */
  h2, .h2 {
    font-size: 24px;
  }
}

/* line 59, ../sass/_type.scss */
h3, .h3 {
  font-size: 30px;
  font-weight: 400;
}
@media (max-width: 991px) {
  /* line 59, ../sass/_type.scss */
  h3, .h3 {
    font-size: 18px;
  }
}

/* line 64, ../sass/_type.scss */
h4, .h4 {
  font-size: 24px;
}
@media (max-width: 991px) {
  /* line 64, ../sass/_type.scss */
  h4, .h4 {
    font-size: 18px;
  }
}

/* line 69, ../sass/_type.scss */
h5, .h5 {
  font-size: 18px;
}
@media (max-width: 991px) {
  /* line 69, ../sass/_type.scss */
  h5, .h5 {
    font-size: 14px;
  }
}

/* line 74, ../sass/_type.scss */
h6, .h6 {
  font-size: 14px;
}

/* line 80, ../sass/_type.scss */
p {
  margin: 0 0 10px;
}

/* line 84, ../sass/_type.scss */
.lead {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.4;
}
@media (min-width: 768px) {
  /* line 84, ../sass/_type.scss */
  .lead {
    font-size: 21px;
  }
}

/* line 100, ../sass/_type.scss */
small,
.small {
  font-size: 85%;
}

/* line 105, ../sass/_type.scss */
mark,
.mark {
  background-color: #fcf8e3;
  padding: .2em;
}

/* line 112, ../sass/_type.scss */
.text-left {
  text-align: left;
}

/* line 113, ../sass/_type.scss */
.text-right {
  text-align: right;
}

/* line 114, ../sass/_type.scss */
.text-center {
  text-align: center;
}

/* line 115, ../sass/_type.scss */
.text-justify {
  text-align: justify;
}

/* line 116, ../sass/_type.scss */
.text-nowrap {
  white-space: nowrap;
}

/* line 119, ../sass/_type.scss */
.text-lowercase {
  text-transform: lowercase;
}

/* line 120, ../sass/_type.scss */
.text-uppercase {
  text-transform: uppercase;
}

/* line 121, ../sass/_type.scss */
.text-capitalize {
  text-transform: capitalize;
}

/* line 124, ../sass/_type.scss */
.text-muted {
  color: #777777;
}

/* line 5, ../sass/mixins/_text-emphasis.scss */
.text-primary {
  color: #39b8fe;
}

/* line 8, ../sass/mixins/_text-emphasis.scss */
a.text-primary:hover {
  color: #06a6fe;
}

/* line 5, ../sass/mixins/_text-emphasis.scss */
.text-success {
  color: #3c763d;
}

/* line 8, ../sass/mixins/_text-emphasis.scss */
a.text-success:hover {
  color: #2b542c;
}

/* line 5, ../sass/mixins/_text-emphasis.scss */
.text-info {
  color: #31708f;
}

/* line 8, ../sass/mixins/_text-emphasis.scss */
a.text-info:hover {
  color: #245269;
}

/* line 5, ../sass/mixins/_text-emphasis.scss */
.text-warning {
  color: #8a6d3b;
}

/* line 8, ../sass/mixins/_text-emphasis.scss */
a.text-warning:hover {
  color: #66512c;
}

/* line 5, ../sass/mixins/_text-emphasis.scss */
.text-danger {
  color: #a94442;
}

/* line 8, ../sass/mixins/_text-emphasis.scss */
a.text-danger:hover {
  color: #843534;
}

/* line 141, ../sass/_type.scss */
.bg-primary {
  color: #fff;
}

/* line 5, ../sass/mixins/_background-variant.scss */
.bg-primary {
  background-color: #39b8fe;
}

/* line 8, ../sass/mixins/_background-variant.scss */
a.bg-primary:hover {
  background-color: #06a6fe;
}

/* line 5, ../sass/mixins/_background-variant.scss */
.bg-success {
  background-color: #dff0d8;
}

/* line 8, ../sass/mixins/_background-variant.scss */
a.bg-success:hover {
  background-color: #c1e2b3;
}

/* line 5, ../sass/mixins/_background-variant.scss */
.bg-info {
  background-color: #d9edf7;
}

/* line 8, ../sass/mixins/_background-variant.scss */
a.bg-info:hover {
  background-color: #afd9ee;
}

/* line 5, ../sass/mixins/_background-variant.scss */
.bg-warning {
  background-color: #fcf8e3;
}

/* line 8, ../sass/mixins/_background-variant.scss */
a.bg-warning:hover {
  background-color: #f7ecb5;
}

/* line 5, ../sass/mixins/_background-variant.scss */
.bg-danger {
  background-color: #f2dede;
}

/* line 8, ../sass/mixins/_background-variant.scss */
a.bg-danger:hover {
  background-color: #e4b9b9;
}

/* line 160, ../sass/_type.scss */
.page-header {
  padding-bottom: 9px;
  margin: 40px 0 20px;
  border-bottom: 1px solid #eeeeee;
}

/* line 171, ../sass/_type.scss */
ul,
ol {
  margin-top: 0;
  margin-bottom: 10px;
}
/* line 175, ../sass/_type.scss */
ul ul,
ul ol,
ol ul,
ol ol {
  margin-bottom: 0;
}

/* line 189, ../sass/_type.scss */
.list-unstyled {
  padding-left: 0;
  list-style: none;
}

/* line 195, ../sass/_type.scss */
.list-inline {
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
}
/* line 199, ../sass/_type.scss */
.list-inline > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

/* line 207, ../sass/_type.scss */
dl {
  margin-top: 0;
  margin-bottom: 20px;
}

/* line 211, ../sass/_type.scss */
dt,
dd {
  line-height: 1.42857;
}

/* line 215, ../sass/_type.scss */
dt {
  font-weight: bold;
}

/* line 218, ../sass/_type.scss */
dd {
  margin-left: 0;
}

/* line 228, ../sass/_type.scss */
.dl-horizontal dd {
  zoom: 1;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.dl-horizontal dd:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.dl-horizontal dd:before, .dl-horizontal dd:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
@media (min-width: 768px) {
  /* line 233, ../sass/_type.scss */
  .dl-horizontal dt {
    float: left;
    width: 160px;
    clear: left;
    text-align: right;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  /* line 240, ../sass/_type.scss */
  .dl-horizontal dd {
    margin-left: 180px;
  }
}

/* line 251, ../sass/_type.scss */
abbr[title],
abbr[data-original-title] {
  cursor: help;
  border-bottom: 1px dotted #777777;
}

/* line 257, ../sass/_type.scss */
.initialism {
  font-size: 90%;
  text-transform: uppercase;
}

/* line 263, ../sass/_type.scss */
blockquote {
  padding: 10px 20px;
  margin: 0 0 20px;
  font-size: 17.5px;
  border-left: 5px solid #eeeeee;
}
/* line 272, ../sass/_type.scss */
blockquote p:last-child,
blockquote ul:last-child,
blockquote ol:last-child {
  margin-bottom: 0;
}
/* line 279, ../sass/_type.scss */
blockquote footer,
blockquote small,
blockquote .small {
  display: block;
  font-size: 80%;
  line-height: 1.42857;
  color: #777777;
}
/* line 287, ../sass/_type.scss */
blockquote footer:before,
blockquote small:before,
blockquote .small:before {
  content: '\2014 \00A0';
}

/* line 296, ../sass/_type.scss */
.blockquote-reverse,
blockquote.pull-right {
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
  text-align: right;
}
/* line 308, ../sass/_type.scss */
.blockquote-reverse footer:before,
.blockquote-reverse small:before,
.blockquote-reverse .small:before,
blockquote.pull-right footer:before,
blockquote.pull-right small:before,
blockquote.pull-right .small:before {
  content: '';
}
/* line 309, ../sass/_type.scss */
.blockquote-reverse footer:after,
.blockquote-reverse small:after,
.blockquote-reverse .small:after,
blockquote.pull-right footer:after,
blockquote.pull-right small:after,
blockquote.pull-right .small:after {
  content: '\00A0 \2014';
}

/* line 316, ../sass/_type.scss */
address {
  margin-bottom: 20px;
  font-style: normal;
  line-height: 1.42857;
}

/* line 1, ../sass/page/_servicebs.scss */
.slider-service {
  background: #343639 url("../images/bg_servicebs.jpg") no-repeat left top;
  min-height: 480px;
}

/* line 6, ../sass/page/_servicebs.scss */
.slider-servicefmc {
  background: url("../images/bg_servicefmc.jpg") no-repeat left top;
  min-height: 480px;
}

/* line 13, ../sass/page/_servicebs.scss */
.business-service,
.business-service2 {
  background: #2b2b2b;
  color: #e1e1e1;
  font-size: 16px;
  font-weight: 700;
  padding: 20px 0 40px;
}
/* line 20, ../sass/page/_servicebs.scss */
.business-service ul,
.business-service2 ul {
  padding-left: 15px;
  margin: 0;
}

/* line 26, ../sass/page/_servicebs.scss */
.back-to-top {
  color: #fff;
  font-size: 16px;
  text-decoration: underline;
}

/* line 32, ../sass/page/_servicebs.scss */
.header-service {
  color: #39b8fe;
  font-size: 26px;
  text-transform: uppercase;
  margin-bottom: 20px;
}
/* line 36, ../sass/page/_servicebs.scss */
.header-service .txt-header {
  margin-left: 30px;
  display: inline-block;
}

/* line 43, ../sass/page/_servicebs.scss */
.business-service2 {
  background: #555;
  padding-top: 40px;
}
/* line 46, ../sass/page/_servicebs.scss */
.business-service2 .cols-two {
  margin-bottom: 75px;
}

/* line 51, ../sass/page/_servicebs.scss */
.txt-upperca {
  text-transform: uppercase;
}

/* line 2, ../sass/page/_service-people.scss */
.our-people.service-people {
  background: #44a48b;
}
/* line 4, ../sass/page/_service-people.scss */
.our-people.service-people .main-our-people {
  max-width: 1000px;
  padding-bottom: 0;
  margin: 0 auto;
}
/* line 8, ../sass/page/_service-people.scss */
.our-people.service-people .main-our-people .people-person .popup-our {
  padding: 15px;
}
/* line 10, ../sass/page/_service-people.scss */
.our-people.service-people .main-our-people .people-person .popup-our .content-people,
.our-people.service-people .main-our-people .people-person .popup-our .title-name,
.our-people.service-people .main-our-people .people-person .popup-our .bcom {
  font-size: 14px;
}

/* line 20, ../sass/page/_service-people.scss */
.content-sv-people {
  background: #2b2b2b;
  padding-top: 55px;
  padding-bottom: 40px;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  color: #e1e1e1;
}
/* line 28, ../sass/page/_service-people.scss */
.content-sv-people .title-caption {
  font-size: 24px;
  text-transform: uppercase;
  color: #fff;
}
/* line 33, ../sass/page/_service-people.scss */
.content-sv-people .title-people {
  color: #fff;
}
/* line 36, ../sass/page/_service-people.scss */
.content-sv-people .cols-two .col-two {
  width: 50%;
  margin-left: 4%;
}

/* line 1, ../sass/page/_contact.scss */
.slider-contact {
  background: url("../images/img-contact.jpg") no-repeat left top;
  min-height: 480px;
}

/* line 6, ../sass/page/_contact.scss */
.contact-info {
  background: #484848;
  padding: 70px 0;
}
/* line 9, ../sass/page/_contact.scss */
.contact-info .content-info {
  zoom: 1;
  color: #fff;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.contact-info .content-info:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.contact-info .content-info:before, .contact-info .content-info:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 12, ../sass/page/_contact.scss */
.contact-info .content-info .txt-contact {
  text-align: right;
  width: 46%;
  float: left;
  font-size: 28px;
  font-weight: 700;
  text-transform: uppercase;
}
/* line 20, ../sass/page/_contact.scss */
.contact-info .content-info .txt-info {
  text-align: left;
  width: 49%;
  float: left;
  border-left: solid 3px #fff;
  margin-left: 4%;
}
/* line 26, ../sass/page/_contact.scss */
.contact-info .content-info .txt-info .email {
  text-decoration: none;
  color: #fff;
}
/* line 30, ../sass/page/_contact.scss */
.contact-info .content-info .txt-info ul {
  list-style: none;
}

/* line 37, ../sass/page/_contact.scss */
.map-info {
  background: #000;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

/* line 49, ../sass/page/_contact.scss */
.aboutus .content-team {
  border-right: solid 2px #fff;
  font-size: 30px;
}
/* line 53, ../sass/page/_contact.scss */
.aboutus .service {
  background: #000;
}

/* line 1, ../sass/_theme-styles.scss */
body {
  font-family: "Roboto Slab", serif;
  font-size: 14px;
  margin: 0;
  padding: 0;
}

/* line 8, ../sass/_theme-styles.scss */
img {
  max-width: 100%;
  display: block;
}

/* line 14, ../sass/_theme-styles.scss */
.wrapper {
  margin: 0 auto;
}

/* line 18, ../sass/_theme-styles.scss */
.main-content {
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 55px;
}
@media (max-width: 767px) {
  /* line 18, ../sass/_theme-styles.scss */
  .main-content {
    padding: 0 10px;
  }
}

/* line 31, ../sass/_theme-styles.scss */
.slider {
  background: url("../images/bg_header.jpg") no-repeat left top;
  min-height: 517px;
}

/* line 36, ../sass/_theme-styles.scss */
.logo {
  padding-top: 14px;
  padding-bottom: 15px;
  float: left;
}

/* line 42, ../sass/_theme-styles.scss */
.menu-links {
  background-color: #000;
  height: 55px;
}
@media (max-width: 767px) {
  /* line 42, ../sass/_theme-styles.scss */
  .menu-links {
    display: none;
  }
}

/* line 50, ../sass/_theme-styles.scss */
.txt-success {
  color: #fff;
  text-transform: uppercase;
  font-size: 30px;
  padding-top: 40px;
}

/* line 57, ../sass/_theme-styles.scss */
.click-find {
  color: #fff;
  text-decoration: underline;
  margin-top: 10px;
}

/* line 63, ../sass/_theme-styles.scss */
.top-links {
  float: right;
  color: #fff;
  margin-top: 7px;
  font-size: 12px;
  font-weight: 700;
  font-style: italic;
}
@media (max-width: 767px) {
  /* line 63, ../sass/_theme-styles.scss */
  .top-links {
    display: none;
  }
}
/* line 73, ../sass/_theme-styles.scss */
.top-links a {
  margin-left: 6px;
}

/* line 78, ../sass/_theme-styles.scss */
.fb {
  background: url("../images/fb.png") no-repeat left center;
  height: 35px;
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

/* line 85, ../sass/_theme-styles.scss */
.tw {
  background: url("../images/tw.png") no-repeat left center;
  height: 35px;
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

/* line 92, ../sass/_theme-styles.scss */
.li {
  background: url("../images/li.png") no-repeat left center;
  height: 35px;
  width: 35px;
  display: inline-block;
  vertical-align: middle;
}

/* line 100, ../sass/_theme-styles.scss */
.menu-desktop {
  zoom: 1;
  margin: 0;
  padding: 0;
  line-height: 55px;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.menu-desktop:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.menu-desktop:before, .menu-desktop:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 105, ../sass/_theme-styles.scss */
.menu-desktop li {
  float: left;
  text-transform: capitalize;
  font-weight: 700;
  color: #fff;
  font-size: 20px;
  list-style: none;
}
/* line 111, ../sass/_theme-styles.scss */
.menu-desktop li + li {
  margin-left: 25px;
  position: relative;
}
/* line 114, ../sass/_theme-styles.scss */
.menu-desktop li + li:before {
  content: ".";
  position: absolute;
  bottom: 0;
  left: -15px;
}
/* line 123, ../sass/_theme-styles.scss */
.menu-desktop li.small-menu {
  font-size: 12px;
}
/* line 125, ../sass/_theme-styles.scss */
.menu-desktop li.small-menu:first-child {
  position: relative;
}
/* line 127, ../sass/_theme-styles.scss */
.menu-desktop li.small-menu:first-child:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -15px;
}
/* line 135, ../sass/_theme-styles.scss */
.menu-desktop li a {
  color: #fff;
  text-decoration: none;
}
/* line 138, ../sass/_theme-styles.scss */
.menu-desktop li a:hover {
  color: #39b8fe;
}
/* line 141, ../sass/_theme-styles.scss */
.menu-desktop li a.active {
  color: #39b8fe;
}

/* line 148, ../sass/_theme-styles.scss */
.we-are {
  background: #484848;
  padding: 70px 0;
}

/* line 153, ../sass/_theme-styles.scss */
.cols-three {
  zoom: 1;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.cols-three:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.cols-three:before, .cols-three:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 155, ../sass/_theme-styles.scss */
.cols-three .col-one,
.cols-three .col-two,
.cols-three .col-three {
  float: left;
  width: 33%;
}
@media only screen and (max-width: 767px) {
  /* line 155, ../sass/_theme-styles.scss */
  .cols-three .col-one,
  .cols-three .col-two,
  .cols-three .col-three {
    float: none;
    width: 100%;
  }
}

/* line 167, ../sass/_theme-styles.scss */
.content-team {
  font-size: 34px;
  font-style: italic;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  border-right: solid 3px #aeedff;
  padding-right: 50px;
}
@media only screen and (max-width: 767px) {
  /* line 167, ../sass/_theme-styles.scss */
  .content-team {
    padding-right: 0;
    border: none;
  }
}

/* line 181, ../sass/_theme-styles.scss */
.content-we-are {
  color: #fff;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 181, ../sass/_theme-styles.scss */
  .content-we-are {
    padding-left: 0;
  }
}

/* line 191, ../sass/_theme-styles.scss */
.content-we-are2 {
  color: #fff;
  padding-left: 45px;
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 191, ../sass/_theme-styles.scss */
  .content-we-are2 {
    padding-left: 0;
  }
}
/* line 199, ../sass/_theme-styles.scss */
.content-we-are2 .more-info {
  text-align: right;
}
@media only screen and (max-width: 767px) {
  /* line 199, ../sass/_theme-styles.scss */
  .content-we-are2 .more-info {
    text-align: left;
  }
}

/* line 207, ../sass/_theme-styles.scss */
.more-info {
  color: #aeedff;
  text-decoration: underline;
  display: block;
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 207, ../sass/_theme-styles.scss */
  .more-info {
    background: #484848 url("../images/icon-info-mobile.png") no-repeat 10px center;
    color: #fff;
    text-align: left;
    padding-left: 60px;
    height: 60px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 60px;
    margin: 0 -10px;
    position: relative;
  }
  /* line 223, ../sass/_theme-styles.scss */
  .more-info:before {
    content: "";
    width: 0;
    height: 0;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-bottom: 30px solid #484848;
    position: absolute;
    top: -30px;
    left: 50%;
    margin-left: -15px;
  }
}

/* line 239, ../sass/_theme-styles.scss */
.bg-2 img {
  max-width: 100%;
}

/* line 244, ../sass/_theme-styles.scss */
.service {
  background: #2b2b2b;
  text-align: center;
  padding-bottom: 75px;
  margin-top: -4px;
}
@media only screen and (max-width: 767px) {
  /* line 244, ../sass/_theme-styles.scss */
  .service {
    padding-bottom: 0;
  }
}
/* line 252, ../sass/_theme-styles.scss */
.service .main-content {
  padding-top: 45px;
}
@media only screen and (max-width: 767px) {
  /* line 252, ../sass/_theme-styles.scss */
  .service .main-content {
    padding-top: 0;
  }
}
/* line 258, ../sass/_theme-styles.scss */
.service .title-service {
  color: #39b8fe;
  text-transform: uppercase;
  font-size: 22px;
  font-weight: 700;
  margin-top: 35px;
  margin-bottom: 30px;
}
@media only screen and (max-width: 767px) {
  /* line 258, ../sass/_theme-styles.scss */
  .service .title-service {
    text-align: left;
    margin-left: 150px;
    text-align: left;
    padding: 0;
    padding-top: 25px;
  }
}
/* line 274, ../sass/_theme-styles.scss */
.service .content-service {
  color: #fff;
  margin-bottom: 65px;
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 274, ../sass/_theme-styles.scss */
  .service .content-service {
    text-align: left;
    clear: both;
    padding-top: 30px;
  }
}
/* line 286, ../sass/_theme-styles.scss */
.service .txt-service {
  width: 90%;
  position: relative;
  min-height: 390px;
}
@media only screen and (max-width: 767px) {
  /* line 286, ../sass/_theme-styles.scss */
  .service .txt-service {
    width: 100%;
    margin-bottom: 0;
  }
}
/* line 294, ../sass/_theme-styles.scss */
.service .txt-service .more-info {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translate(-50%, 0px);
  -ms-transform: translate(-50%, 0px);
  -o-transform: translate(-50%, 0px);
  transform: translate(-50%, 0px);
}
@media only screen and (max-width: 767px) {
  /* line 294, ../sass/_theme-styles.scss */
  .service .txt-service .more-info {
    position: static;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
  }
}

/* line 309, ../sass/_theme-styles.scss */
.bg-header {
  background: url("../images/bg-header.jpg") no-repeat left top;
}

/* line 313, ../sass/_theme-styles.scss */
.txt-title {
  font-size: 28px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  font-weight: 700;
  line-height: 80px;
  margin-bottom: 30px;
}

/* line 323, ../sass/_theme-styles.scss */
.line-bg {
  border-bottom: solid 2px #fff;
}
@media only screen and (max-width: 767px) {
  /* line 323, ../sass/_theme-styles.scss */
  .line-bg {
    border-bottom: none;
  }
}

/* line 330, ../sass/_theme-styles.scss */
.our-people {
  background: #555555;
}
/* line 332, ../sass/_theme-styles.scss */
.our-people .txt-title {
  background: #49bb9e;
  margin-bottom: 0;
}
@media only screen and (max-width: 767px) {
  /* line 332, ../sass/_theme-styles.scss */
  .our-people .txt-title {
    background: #000;
  }
}
/* line 339, ../sass/_theme-styles.scss */
.our-people .main-our-people {
  zoom: 1;
  max-width: 1736px;
  margin: 0 auto;
  padding-bottom: 155px;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.our-people .main-our-people:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.our-people .main-our-people:before, .our-people .main-our-people:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
@media only screen and (max-width: 767px) {
  /* line 339, ../sass/_theme-styles.scss */
  .our-people .main-our-people {
    padding-bottom: 0;
  }
}
/* line 347, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person {
  position: relative;
  width: 25%;
  float: left;
  cursor: pointer;
}
@media only screen and (max-width: 767px) {
  /* line 347, ../sass/_theme-styles.scss */
  .our-people .main-our-people .people-person {
    width: 50%;
  }
}
/* line 355, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .bg-show-info {
  display: none;
}
/* line 359, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person:hover .bg-show-info {
  display: block;
}
/* line 363, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .bg-show-info {
  background: rgba(73, 188, 158, 0.83);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
/* line 371, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .popup-our {
  padding: 28px;
  color: #fff;
}
@media only screen and (max-width: 767px) {
  /* line 371, ../sass/_theme-styles.scss */
  .our-people .main-our-people .people-person .popup-our {
    padding: 10px;
  }
}
/* line 377, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .popup-our .title-name {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 700;
}
/* line 382, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .popup-our .bcom {
  font-size: 14px;
  border-bottom: solid 1px #fff;
  padding-bottom: 15px;
  margin-bottom: 15px;
}
/* line 388, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .popup-our .content-people {
  font-size: 16px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 388, ../sass/_theme-styles.scss */
  .our-people .main-our-people .people-person .popup-our .content-people {
    display: none;
  }
}
/* line 395, ../sass/_theme-styles.scss */
.our-people .main-our-people .people-person .popup-our .find-out {
  position: absolute;
  bottom: 28px;
  right: 28px;
}
@media only screen and (max-width: 767px) {
  /* line 395, ../sass/_theme-styles.scss */
  .our-people .main-our-people .people-person .popup-our .find-out {
    right: 10px;
    bottom: 10px;
  }
}

/* line 412, ../sass/_theme-styles.scss */
.contact-us {
  background: #313131;
  font-size: 14px;
  font-weight: 700;
  padding-bottom: 20px;
}
/* line 417, ../sass/_theme-styles.scss */
.contact-us .title-contact {
  color: #fff;
  font-size: 28px;
  font-weight: 700;
  margin: 25px 0 20px;
}
/* line 424, ../sass/_theme-styles.scss */
.contact-us .col-small {
  width: 26.41084%;
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 424, ../sass/_theme-styles.scss */
  .contact-us .col-small {
    width: 100%;
    float: none;
    text-align: center;
  }
}
/* line 433, ../sass/_theme-styles.scss */
.contact-us .col-lager {
  width: 73.58916%;
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 433, ../sass/_theme-styles.scss */
  .contact-us .col-lager {
    width: 100%;
    float: none;
    display: none;
  }
}
/* line 443, ../sass/_theme-styles.scss */
.contact-us .content-left {
  color: #aaa9a0;
}
/* line 445, ../sass/_theme-styles.scss */
.contact-us .content-left p {
  margin-bottom: 5px;
}
/* line 447, ../sass/_theme-styles.scss */
.contact-us .content-left p.logo-contact {
  margin-top: 20px;
}
/* line 451, ../sass/_theme-styles.scss */
.contact-us .content-left .mailto {
  color: #aaa9a0;
}
/* line 456, ../sass/_theme-styles.scss */
.contact-us .form-enquiry .col-fiel-left {
  width: 40%;
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 456, ../sass/_theme-styles.scss */
  .contact-us .form-enquiry .col-fiel-left {
    width: 100%;
    float: none;
  }
}
/* line 464, ../sass/_theme-styles.scss */
.contact-us .form-enquiry .col-fiel-right {
  width: 60%;
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 464, ../sass/_theme-styles.scss */
  .contact-us .form-enquiry .col-fiel-right {
    width: 100%;
    float: none;
  }
}
/* line 472, ../sass/_theme-styles.scss */
.contact-us .form-enquiry input {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  border: none;
  height: 37px;
  color: #fff;
  margin-bottom: 14px;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
}
/* line 103, ../sass/mixins/_vendor-prefixes.scss */
.contact-us .form-enquiry input::-moz-placeholder {
  color: #fefdee;
  opacity: 1;
}
/* line 107, ../sass/mixins/_vendor-prefixes.scss */
.contact-us .form-enquiry input:-ms-input-placeholder {
  color: #fefdee;
}
/* line 108, ../sass/mixins/_vendor-prefixes.scss */
.contact-us .form-enquiry input::-webkit-input-placeholder {
  color: #fefdee;
}
/* line 486, ../sass/_theme-styles.scss */
.contact-us .form-enquiry textarea {
  background: rgba(255, 255, 255, 0.1);
  width: 100%;
  border: none;
  font-weight: 700;
  font-size: 16px;
  padding-left: 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #fff;
  margin: 0;
  padding-top: 10px;
  min-height: 140px;
  font-family: "Roboto Slab", serif;
}
/* line 103, ../sass/mixins/_vendor-prefixes.scss */
.contact-us .form-enquiry textarea::-moz-placeholder {
  color: #fefdee;
  opacity: 1;
}
/* line 107, ../sass/mixins/_vendor-prefixes.scss */
.contact-us .form-enquiry textarea:-ms-input-placeholder {
  color: #fefdee;
}
/* line 108, ../sass/mixins/_vendor-prefixes.scss */
.contact-us .form-enquiry textarea::-webkit-input-placeholder {
  color: #fefdee;
}
/* line 501, ../sass/_theme-styles.scss */
.contact-us .form-enquiry .write-area {
  padding-left: 14px;
}
/* line 506, ../sass/_theme-styles.scss */
.contact-us .btn-submit {
  background: #d1d1d1;
  height: 32px;
  display: block;
  text-align: right;
  line-height: 32px;
  padding-right: 10px;
}
/* line 513, ../sass/_theme-styles.scss */
.contact-us .btn-submit a {
  color: #000;
  text-align: right;
  text-decoration: none;
}

/* line 521, ../sass/_theme-styles.scss */
.footer {
  background: #2b2b2b;
}
/* line 523, ../sass/_theme-styles.scss */
.footer .link-footer {
  float: left;
}
@media only screen and (max-width: 767px) {
  /* line 523, ../sass/_theme-styles.scss */
  .footer .link-footer {
    float: none;
    text-align: center;
  }
}
/* line 529, ../sass/_theme-styles.scss */
.footer .link-footer a {
  color: #8f8f8f;
  line-height: 37px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 529, ../sass/_theme-styles.scss */
  .footer .link-footer a {
    font-size: 10px;
  }
}
/* line 540, ../sass/_theme-styles.scss */
.footer .webby {
  float: right;
  color: #8f8f8f;
  line-height: 37px;
  font-size: 12px;
  font-weight: 700;
}
@media only screen and (max-width: 767px) {
  /* line 540, ../sass/_theme-styles.scss */
  .footer .webby {
    float: none;
    display: none;
  }
}
/* line 550, ../sass/_theme-styles.scss */
.footer .webby a {
  color: #8f8f8f;
  text-decoration: underline;
}
/* line 555, ../sass/_theme-styles.scss */
.footer .logo-contact {
  margin-top: 25px;
}
/* line 557, ../sass/_theme-styles.scss */
.footer .logo-contact .ep-contact {
  margin-right: 20px;
}

/* line 563, ../sass/_theme-styles.scss */
.cols-two {
  zoom: 1;
}
/* line 42, ../sass/_media-queries_grid-system.scss */
.cols-two:after {
  clear: both;
}
/* line 43, ../sass/_media-queries_grid-system.scss */
.cols-two:before, .cols-two:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}
/* line 565, ../sass/_theme-styles.scss */
.cols-two .col-one {
  float: left;
  width: 46%;
}
/* line 569, ../sass/_theme-styles.scss */
.cols-two .col-two {
  float: left;
  width: 46%;
  margin-left: 8%;
}

/* line 578, ../sass/_theme-styles.scss */
.parallax {
  background-attachment: fixed;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  height: 635px;
}

/* line 586, ../sass/_theme-styles.scss */
.parallax-2 {
  background-image: url("../images/bg-2.jpg");
}

/* line 590, ../sass/_theme-styles.scss */
.parallax-3 {
  background-image: url("../images/bg-3.jpg");
}

@media only screen and (max-width: 767px) {
  /* line 594, ../sass/_theme-styles.scss */
  .icon-service {
    float: left;
  }
}

@media only screen and (max-width: 767px) {
  /* line 600, ../sass/_theme-styles.scss */
  .bg-mobile {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
  }
}

/* line 610, ../sass/_theme-styles.scss */
.links-share-bottom {
  display: none;
}
@media only screen and (max-width: 767px) {
  /* line 610, ../sass/_theme-styles.scss */
  .links-share-bottom {
    display: block;
  }
  /* line 614, ../sass/_theme-styles.scss */
  .links-share-bottom a {
    margin: 0 10px;
  }
}

/* line 1, ../sass/_icons.scss */
.businees {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -243px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 134px;
  width: 134px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 1, ../sass/_icons.scss */
  .businees {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -237px;
    height: 134px;
    width: 134px;
  }
}

/* line 5, ../sass/_icons.scss */
.finna {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -604px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 134px;
  width: 134px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 5, ../sass/_icons.scss */
  .finna {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -598px;
    height: 128px;
    width: 128px;
  }
}

/* line 9, ../sass/_icons.scss */
.assuran {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -67px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 134px;
  width: 134px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 9, ../sass/_icons.scss */
  .assuran {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -67px;
    height: 128px;
    width: 128px;
  }
}

/* line 12, ../sass/_icons.scss */
.ep-contact {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -482px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 55px;
  width: 55px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 12, ../sass/_icons.scss */
  .ep-contact {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -476px;
    height: 55px;
    width: 55px;
  }
}

/* line 16, ../sass/_icons.scss */
.ca {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -444px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 38px;
  width: 123px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 16, ../sass/_icons.scss */
  .ca {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -438px;
    height: 38px;
    width: 123px;
  }
}

/* line 20, ../sass/_icons.scss */
.business-sv {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -377px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 67px;
  width: 67px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 20, ../sass/_icons.scss */
  .business-sv {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -371px;
    height: 67px;
    width: 67px;
  }
}

/* line 23, ../sass/_icons.scss */
.back-top {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -201px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 42px;
  width: 42px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 23, ../sass/_icons.scss */
  .back-top {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -195px;
    height: 42px;
    width: 42px;
  }
}

/* line 26, ../sass/_icons.scss */
.finna-manage {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 -537px;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 67px;
  width: 67px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 26, ../sass/_icons.scss */
  .finna-manage {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 -531px;
    height: 67px;
    width: 67px;
  }
}

/* line 29, ../sass/_icons.scss */
.ass {
  background-image: url('../images/sprite-sda600a4ada.png');
  background-position: 0 0;
  background-repeat: no-repeat;
  overflow: hidden;
  display: inline-block;
  height: 67px;
  width: 67px;
  vertical-align: middle;
}
@media (-webkit-min-device-pixel-ratio: 2), (-o-min-device-pixel-ratio: 3 / 2), (min--moz-device-pixel-ratio: 2), (min-device-pixel-ratio: 2), (min-resolution: 144dpi) {
  /* line 29, ../sass/_icons.scss */
  .ass {
    background-image: url('../images/sprite2x-s7eaf32797b.png');
    background-size: 134px 726px;
    background-position: 0 0;
    height: 67px;
    width: 67px;
  }
}
