.slider-service {
	background:#343639 url("../images/bg_servicebs.jpg") no-repeat left top;
	min-height: 480px;
}

.slider-servicefmc {
	background:url("../images/bg_servicefmc.jpg") no-repeat left top;
	min-height: 480px;
}

.servicebs {
	.parallax {
		display: none;
	}
}

.business-service,
.business-service2 {
	background: #2b2b2b;
	color: #e1e1e1;
	font-size: $font-size-base + 2;
	font-weight: $font-weight-bold;
	padding: 20px 0 40px;
	@include mobi-landscape{
		padding-top: 0;
	}
	ul {
		padding-left: 15px;
		margin: 0;
	}
}

.back-to-top {
	color: $c-white;
	font-size: $font-size-base + 2;
	text-decoration: underline;
	display: block;
	@include mobi-landscape{
		display: none;
	}
}

.header-service {
	color: $c-blue;
	font-size: $font-size-base *2 - 2;
	text-transform: uppercase;
	margin-bottom: 20px;
	@include mobi-landscape{
		font-size: $font-size-base + 6;
		position: relative;
	}
	.txt-header {
		margin-left: 30px;
		display: inline-block;
		color: $c-blue;
		text-decoration: none;
		@include mobi-landscape{
			margin-left: 10px;
			position: absolute;
			font-size: 16px;
			left: 65px;
			top: 20px;
		}
	}
}

.business-service2 {
	background: #555;
	padding-top: 40px;
	@include mobi-landscape{
		padding-bottom: 0;
	}
	.cols-two {
		margin-bottom: 75px;
	}
	.header-service{
		@include mobi-landscape{
			background: #000;
			margin: 0 -10px;
			padding: 10px;
			.txt-header {
				margin-left: 20px;
			}
		}
		+ .header-service{
			@include mobi-landscape{
				background: #1b171c;
				margin: 0 -10px;
				padding: 10px;
				.txt-header {
					margin-left: 20px;
				}
			}
		}
	}
	
}

.txt-upperca {
	text-transform: uppercase;
}