body{
	font-family: $font-family-base;
	font-size: $font-size-base;
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;
	display: block;
}
// Homepage

.wrapper {
	margin: 0 auto;
}

.main-content{
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 55px;
	@media (max-width: $screen-xs-max) {
		padding: 0 10px;
	}
}

.header{

}

.slider {
	position: relative;
	.rslides_tabs {
		position: absolute;
		top: 50%;
		left: 50%;
	}

	.txt-success {
		color: $c-white;
		text-transform: uppercase;
		font-size: $font-size-base*2 + 2;
		padding-top: 40px;
		position: absolute;
		@include mobi-landscape{
			display: none;
		}
	}

	.click-find {
		color: $c-white;
		text-decoration: underline;
		margin-top: 10px;
		position: absolute;
		@include mobi-landscape{
			display: none;
		}
	}
}

.logo {
	padding-top: 14px;
	padding-bottom: 15px;
	float: left;
}

.menu-links {
	background-color: $c-black;
	height: 55px;
	@media (max-width: $screen-xs-max) {
		display: none;
	}
}


.top-links {
	float: right;
	color: $c-white;
	margin-top: 7px;
	font-size: $font-size-base - 2;
	font-weight: $font-weight-bold;
	font-style: italic;
	@media (max-width: $screen-xs-max){
		display: none;
	}
	a {
		margin-left: 6px;
	}
}

.fb{
	background: url("../images/fb.png") no-repeat left center;
	height: 35px;
	width: 35px;
	display: inline-block;
	vertical-align: middle;
}
.tw{
	background: url("../images/tw.png") no-repeat left center;
	height: 35px;
	width: 35px;
	display: inline-block;
	vertical-align: middle;
}
.li{
	background: url("../images/li.png") no-repeat left center;
	height: 35px;
	width: 35px;
	display: inline-block;
	vertical-align: middle;
}

.menu-desktop {
	@include clearfix();
	margin: 0;
	padding: 0;
	line-height: 55px;
	li {
		float: left;
		text-transform: capitalize;
		font-weight: 700;
		color: $c-white;
		font-size: $font-size-base + 6;
		+ li {
			margin-left: 25px;
			position: relative;
			&:before{
				content: ".";
				position: absolute;
				bottom: 0;
				left: -15px;
			}

		}
		list-style: none;
		&.small-menu {
			font-size: $font-size-base - 2;
			&:first-child {
				position: relative;
				&:before {
					content: "";
					position: absolute;
					bottom: 0;
					left: -15px;
				}
			}
		}
		a {
			color: $c-white;
			text-decoration: none;
			&:hover{
				color: $c-blue;
			}
			&.active {
				color: $c-blue;
			}
		}
	}
}

.we-are{
	background: $c-gray;
	padding: 70px 0;
	@include mobi-landscape{
		padding: 20px 0;
	}
}

.cols-three {
	@include clearfix();
	.col-one,
	.col-two,
	.col-three {
		float: left;
		width: percentage(33/100);
		@include mobi-landscape{
			float: none;
			width: 100%;
		}
	}
}

.content-team {
	font-size: $font-size-base + 20;
	font-style: italic;
	color: $c-white;
	text-transform: uppercase;
	font-weight: 700;
	border-right: solid 3px $c-blue-light;
	padding-right: 50px;
	@include mobi-landscape{
		padding-right: 0;
		border: none;
		margin-bottom: 20px;
		font-size: $font-size-base + 10;
	}
}

.content-we-are {
	color: $c-white;
	padding-left: 45px;
	font-size: $font-size-base + 2;
	font-weight: 700;
	@include mobi-landscape{
		padding-left: 0;
	}
}

.content-we-are2{
	color: $c-white;
	padding-left: 45px;
	font-size: $font-size-base + 2;
	font-weight: 700;
	@include mobi-landscape{
		padding-left: 0;
	}
	.more-info{
		text-align: right;
		@include mobi-landscape{
			text-align: left;
		}
	}	
}

.more-info{
	color: $c-blue-light;
	text-decoration: underline;
	display: block;
	font-size: $font-size-base + 2;
	font-weight: 700;
	@include mobi-landscape{
		background: #484848 url("../images/icon-info-mobile.png") no-repeat 10px center;
		color: $c-white;
		text-align: left;
		padding-left: 60px;
		height: 60px;
		@include box-sizing(border-box);
		line-height: 60px;
		margin: 0 -10px;
		position: relative;
		&:before {
			content: "";
			width: 0;
			height: 0;
			border-left: 20px solid transparent;
			border-right: 20px solid transparent;
			border-bottom: 30px solid #484848;
			position: absolute;
			top: -30px;
			left: 50%;
			margin-left: -15px;
		}
	}
}

.bg-2 {
	img {
		max-width: 100%;
	}
}

.service {
	background: $c-graylight;
	text-align: center;
	padding-bottom: 75px;
	@include mobi-landscape{
		padding-bottom: 0;
	}
	.main-content {
		padding-top: 45px;
		@include mobi-landscape{
			padding-top: 0;
		}
	}
	.title-service {
		color: $c-blue;
		text-transform: uppercase;
		font-size: $font-size-base + 8;
		font-weight: 700;
		margin-top: 35px;
		margin-bottom: 30px;
		@include mobi-landscape {
			text-align: left;
			margin-left: 145px;
			text-align: left;
			padding: 0;
			padding-top: 25px;
			margin-top: 0;
		}
	}

	.content-service {
		color: $c-white;
		margin-bottom: 65px;
		font-size: $font-size-base + 2;
		font-weight: $font-weight-bold;
		@include mobi-landscape {
			text-align: left;
			clear: both;
			padding-top: 30px;
		}
	}

	.txt-service {
		width: 90%;
		position: relative;
		min-height: 390px;
		@include mobi-landscape{
			width: 100%;
			margin-bottom: 0;
			min-height: 100%;
			margin-top: 10px;
		}
		.more-info {
			position: absolute;
			bottom: 0;
			left: 50%;
			@include translate(-50%, 0px);
			
			@include mobi-landscape{
				position: static;
				@include translate(0, 0);
			}
		}
	}
	
}

.bg-header {
	background: url("../images/bg-header.jpg") no-repeat left top;
}

.txt-title {
	font-size: $font-size-base*2;
	text-transform: uppercase;
	text-align: center;
	color: $c-white;
	font-weight: 700;
	line-height: 80px;
	margin-bottom: 30px;
	@include mobi-landscape{
		margin-bottom: 0;
		font-size: $font-size-base + 10;
	}
}

.line-bg {
	border-bottom: solid 2px $c-white;
	@include mobi-landscape{
		border-bottom: none;
	}
}

.our-people {
	background: #555555;
	.txt-title {
		background: #49bb9e;
		margin-bottom: 0;
		@include mobi-landscape{
			background: $c-black;
		}
	}
	.main-our-people {
		@include clearfix();
		max-width: 1736px;
		margin: 0 auto;
		padding-bottom: 155px;
		@include mobi-landscape{
			padding-bottom: 0;
		}
		.people-person {
			position: relative;
			width: percentage(25/100);
			float: left;
			cursor: pointer;
			@include mobi-landscape{
				width: 50%;
			}
			.bg-show-info {
				display: none;
			}
			&:hover{
				.bg-show-info {
					display: block;
				}
			}
			.bg-show-info {
				background: rgba(73,188,158,.83);
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
			}
			.popup-our {
				padding: 28px;
				color: $c-white;
				@include mobi-landscape{
					padding: 10px;
				}
				.title-name {
					font-size: $font-size-base + 2;
					text-transform: uppercase;
					font-weight: 700;
				}
				.bcom {
					font-size: $font-size-base;
					border-bottom: solid 1px $c-white;
					padding-bottom: 15px;
					margin-bottom: 15px;
				}
				.content-people {
					font-size: $font-size-base + 2;
					font-weight: $font-weight-bold;
					@include mobi-landscape{
						display: none;
					}
				}
				.find-out {
					position: absolute;
					bottom: 28px;
					right: 28px;
					@include mobi-landscape{
						right: 10px;
						bottom: 10px;
					}
				}
			}
		}
		
	}
}

// contact-us

.contact-us {
	background: #313131;
	font-size: $font-size-base;
	font-weight: $font-weight-bold;
	padding-bottom: 20px;

	.col-small {
		width: percentage(234/886);
		float: left;
		@include mobi-landscape{
			width: 100%;
			float: none;
			text-align: center;
		}
	}
	.col-lager {
		width: percentage(652/886);
		float: right;
		@include mobi-landscape{
			width: 100%;
			float: none;
			display: none;
		}
	}

	.content-left {
		color: #aaa9a0;
		@include mobi-landscape {
			color: $c-white;
		}
		p {
			margin-bottom: 5px;
			&.logo-contact {
				margin-top: 20px;
			}
		}
		.mailto {
			color: #aaa9a0;
			@include mobi-landscape {
				color: $c-white;
			}
		}
	}
	.form-enquiry {
		.col-fiel-left {
			width: 40%;
			float: left;
			@include mobi-landscape{
				width: 100%;
				float: none;
			}
		}
		.col-fiel-right {
			width: 60%;
			float: left;
			@include mobi-landscape{
				width: 100%;
				float: none;
			}
		}
		input {
			background: rgba(255,255,255,0.1);
			width: 100%;
			border: none;
			height: 37px;
			color: $c-white;
			margin-bottom: 14px;
			font-weight: $font-weight-bold;
			font-size: $font-size-base + 2;
			padding-left: 10px;
			@include box-sizing(border-box);
			@include placeholder(#fefdee);
			font-family: $font-family-base;
		}
		textarea {
			background: rgba(255,255,255,0.1);
			width: 100%;
			border: none;
			font-weight: $font-weight-bold;
			font-size: $font-size-base + 2;
			padding-left: 10px;
			@include box-sizing(border-box);
			@include placeholder(#fefdee);
			color: $c-white;
			margin: 0;
			padding-top: 10px;
			min-height: 140px;
			font-family: $font-family-base;
		}
		.write-area {
			padding-left: 14px;
		}
	}

	.btn-submit {
		background: #d1d1d1;
		height: 32px;
		display: block;
		text-align: right;
		line-height: 32px;
		padding-right: 10px;
		a {
			color: $c-black;
			text-align: right;
			text-decoration: none;
		}
	}
}

.title-contact {
	color: $c-white;
	font-size: $font-size-base*2;
	font-weight: $font-weight-bold;
	margin: 25px 0 20px;
}


.footer {
	background: #2b2b2b;
	.link-footer {
		float: left;
		@include mobi-landscape{
			float: none;
			text-align: center;
		}
		a {
			color: #8f8f8f;
			line-height: 37px;
			text-decoration: none;
			font-size: 12px;
			font-weight: 700;
			@include mobi-landscape{
				font-size: $font-size-base - 4;
			}
		}
	}
	.webby {
		float: right;
		color: #8f8f8f;
		line-height: 37px;
		font-size: $font-size-base - 2;
		font-weight: 700;
		@include mobi-landscape{
			float: none;
			display: none;
		}
		a {
			color: #8f8f8f;
			text-decoration: underline;
		}
	}
	.logo-contact {
		margin-top: 25px;
		.ep-contact {
			margin-right: 20px;
		}
	}
}

.cols-two {
	@include clearfix();
	.col-one {
		float: left;
		width: 46%;
		@include mobi-landscape{
			width: 100%;
			float: none;
		}
	}
	.col-two {
		float: left;
		width: 46%;
		margin-left: 8%;
		@include mobi-landscape{
			width: 100%;
			float: none;
			margin-left: 0;
		}
	}
}

// Pellare

.parallax {
    background-attachment: fixed;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 635px;
}

.parallax-2 {
	background-image: url("../images/bg-2.jpg");
}

.parallax-3 {
	background-image: url("../images/bg-3.jpg");
}

.icon-service {
	@include mobi-landscape {
		float: left;
	}
}

.links-share-bottom {
	display: none;
	@include mobi-landscape{
		display: block;
		margin-bottom: 20px;
		a {
			margin: 0 10px;
		}
	}
}

.bg-mobile {
	position: relative;
	display: none;
	@include mobi-landscape{
		display: block;
	}
	.txt-arrown-big {
		@include mobi-landscape{
			position: relative;
			z-index: 1;
			top: -23px;
		}
	}
}


.arrown-down-big {
	display: none;
	@include mobi-landscape{
		display: block;
		position: absolute;
		top: 0;
		left: 0;
	}
}

.top-header {
	@include mobi-landscape{
		display: none;
	}
}

.header-mobile {
	display: none;
	@include mobi-landscape{
		display: block;
		position: relative;
		background: rgba(255,255,255,0.36);
		@include clearfix();
		margin: 0 -10px;
		padding: 5px 0;
		.hamber {
			float: left;
			left: 45px;
			position: absolute;
			top: 15px;
		}
		.contact-icon {
			float: right;
			right: 45px;
			position: absolute;
			top: 24px;
		}
		.logo-mobile {
			text-align: center;
			img {
				display: inline-block;
			}
		}
	}
}

// menu left hambeger

.sidebar {
	background: $c-black;
	width: 255px;
	.content-menuleft {
		ul {
			list-style: none;
			margin: 0;
			padding: 0;
			margin-left: 30px;
			font-size: 25px;
			li {
				color: $c-white;
				padding: 20px 0;
				a {
					color: $c-white;
					text-decoration: none;
					&:hover {
						color: #39b8fe;
					}
				}
			}
		}
	}

	.logo-menuleft {
		text-align: center;
		img {
			display: inline-block;
			margin-top: 15px;
		}
	}

	.content-contact-left {
		color: $c-white;
		text-align: center;
		a {
			color: $c-white;
		}
	}
	.link-footer {
		font-size: $font-size-base - 4;
		text-align: center;
		color: #a1a197;
	}
}




.wrapper {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 0;
  
}


.toggle {
  position: fixed;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 20px;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  z-index: 1;
  font-size: 30px;
  color: black;
  width: 30px;
  height: 30px;
  cursor: pointer; }
  .toggle:hover {
    color: #29D4E8; }

.sidebar {
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  transition: all 0.5s ease;
  position: fixed;
  top: 0px;
  right: 0;
  bottom: 0px;
  left: -255px;
  color: white;
  z-index: 0;
  overflow: auto;
}

#sidebartoggler {
  display: none; }
  #sidebartoggler:checked + .wrapper .sidebar {
    left: 0px; }
  #sidebartoggler:checked + .wrapper .toggle {
    left: 15px; }
  #sidebartoggler:checked + .wrapper {
    padding-left: 255px; 
	width: 100%;
}

/*# sourceMappingURL=compiled.css.map */
